// Specific CSS for your home-page
// .padding-home {
// }
.search-form {
  background-color: white;
  padding: 65px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
#home-page {
  background: $blue;
  padding-top: 50px;
  padding-bottom: 25vh;
}

.main {
  text-align: center;
  margin-bottom: 22px;
  // font-family: 'Modak', cursive;
  font-family: 'Roboto Condensed', sans-serif;
  // font-family: 'Akzidenz Grotesk Black';
  // src: local('Akzidenz Grotesk Black'), url('Akzidenz-grotesk-black.woff') format('woff');
}

// body {
//   background: white;
// }

.slogan {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  // font-family: 'Akzidenz Grotesk Black';
}
