.card-link {
  text-decoration: none;
}
.card-trip {
  margin-bottom: 18px;
  overflow: hidden;
  background: white;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
  padding: 22px;
}
.card-trip > img {
  height: 180px;
  width: 100%;
  object-fit: cover;
}
.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  // color: black;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  position: relative;
  text-decoration: none;
  h2 {
    color: black;
  }
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.map {
    padding-top: 24px;
    padding-right: 30px;
}
.main-img {
  padding-top: 20px;
}
.main-name{

  padding-top: 20px;
  font-size: 25px;
  font-family: Helvetica;

}
.description {
  padding-top: 20px;
}
#geek_info {
  padding-top: 20px;
  font-size: bold;
}
#category {
  font-weight: bold;
}
.booking_form {

}

