.navbar-lewagon {
  justify-content: space-between;
  background: #83C2D6;
  height: 10vh;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 55px;
  margin-top: 2px;
  margin-left: 4px;
}

