<div class="container">
  <div class="row">
    <div class="col-4 offset-4">
      <h1>New geek</h1>

      <%= render 'form', geek: @geek %>

      <hr>
      <%= link_to "Back to list", geeks_path %>
    </div>
  </div>
</div>

